



section {
	position: absolute;
	vertical-align: top;
	cursor: pointer;
	background-color: #359025;
	border-radius: 1em;
	height: 6em;
	width: 100%;
	margin: 0 0;
	transition: height 0.25s, transform 0.25s;
}

section:hover {
	height: 70%;
	transform: scale( 1.025, 1 );
}

section:active {
	height: 15em;
	transition: height 0.5s;
}


