



section {
	text-align: center;
	background-color: #330282;
	width: 100%;
}

.core {
	padding: 2em 0 4em;
}

h4 {
	text-align: left;
	text-indent: 3.5em;
	line-height: 1.75em;
	width: 80%;
	padding: 2em 0 0;
}

hr {
	background-color: #3f20a0;
	border: 0;
    border-radius: 50%;
    height: 0.75em;
	width: 75%;
	margin: 1em 12.5% 4em;
}

h2 {
	display: block;
}

.view {
	display: inline-block;
	background-color: #2b096f;
	border-radius: 1em;
	width: 90%;
	padding: 0.5% 0;
	margin: 1em 0 0;
}

.scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: transparent;
	padding: 0.5em 0;
	margin: 0 0;
}

.zoom {
	position: relative;
	display: inline-block;
	z-index: 10;
	overflow: hidden;
	border-radius: 0.5em;
	height: 18em;
	width: 15em;
	margin: 0.5em 2%;
}

img {
	position: absolute;
	display: inline-block;
	z-index: 5;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 10em;
	/* -webkit-font-smoothing: antialiased; */
	-webkit-font-smoothing: subpixel-antialiased;
	image-rendering: crisp-edges;
	background-color: rgba( 255, 255, 255, 0.5 );
	color: #7c30ef;
	min-height: 100%;
	max-height: 150%;
	min-width: 100%;
	top: 0;
	left: 0;
	/* margin: 0 0 0 -75%; */
	transition: transform 0.5s;
}

img:hover {
	transform: scale( 1.25, 1.25 );
	/* transform: scale3d( 1.25, 1.25, 1 ); */
	/* transform: matrix( 1.25, 0, 0, 1.25, 0, 0 ); */
}


/* Responsive Breakpoint Settings */
@media ( max-width: 580px ) {
	.view { width: 80%; };
}



