



<router-outlet></router-outlet>



<section class="base">
	<div class="core">
		<h1 class="main"> Stuff I've Made </h1>
		<h4>
			Take a look through my portfolio!  Here I detail what I have developed or contributed including documentation of the process from start to finish.  Alongside that I share key insights gleaned from my experience working on these projects.
		</h4>
		<hr>
		<h2> Portfolio </h2>
		<div class="view">
			<div class="scroll">
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<!-- https://images.freeimages.com/images/large-previews/8ee/multicolor-drop-2-1056473.jpg -->
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<!-- https://images.freeimages.com/images/large-previews/647/snowy-mountain-1378865.jpg -->
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
			</div>
			<br>
			<div class="scroll">
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
			</div>
			<br>
			<div class="scroll">
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
				<div class="zoom">
					<a [routerLink]="[ 'project' ]">
						<img src="" alt="Software">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>



