



<!-- Turn lists of technical competencies into interactive, animated graphical displays. -->


<section class="base">
	<div class="core">
		<!-- Skills Header -->
		<h1 class="main"> What I Do </h1>
		<h4 id="state">
			Simply put, I provide value through code - any code, for any problem, anywhere.
		</h4>
		<br>
		<!-- List of Proficiencies -->
		<h3> Languages </h3>
		<div class="know">
			<h4 class="lang"> Python </h4>
			<h4 class="lang"> C# </h4>
			<h4 class="lang"> SQL </h4>
			<h4 class="lang"> Java </h4>
			<h4 class="lang"> HTML </h4>
			<h4 class="lang"> CSS </h4>
			<h4 class="lang"> JavaScript </h4>
		</div>
		<h3> Frameworks </h3>
		<div class="know">
			<h4 class="frame"> Angular </h4>
			<h4 class="frame"> .NET Core </h4>
			<h4 class="frame"> Node </h4>
			<h4 class="frame"> Express </h4>
			<h4 class="frame"> Django </h4>
			<h4 class="frame"> Spring </h4>
			<h4 class="frame"> Flask </h4>
		</div>
		<h3> Databases </h3>
		<div class="know">
			<h4 class="data"> SQLite </h4>
			<h4 class="data"> MySQL </h4>
			<h4 class="data"> MongoDB </h4>
			<h4 class="data"> PostgreSQL </h4>
		</div>
		<h3> Platforms </h3>
		<div class="know">
			<h4 class="plat"> Amazon Web Services </h4>
			<h4 class="plat"> Microsoft Azure </h4>
			<h4 class="plat"> Unity Engine </h4>
		</div>
		<!-- Summation of Competencies -->
		<div id="value">
			<h3 class="trait"> Intuitive </h3>
			<h3 class="trait"> Adaptive </h3>
			<h3 class="trait"> Breadth </h3>
			<h3 class="trait"> Execution </h3>
			<h3 class="trait"> Solutions </h3>
		</div>
		<div id="sum">
			<h5>
				Across multiple technologies, I bring a wealth of technical competence to every solution, executing efficient and results-oriented software to address any problem and purpose.
			</h5>
			<h5>
				My expertise in numerous frameworks and competency in both organized data and not grants me the flexibility to address countless concerns and return reliable results.  My thirst for knowledge and growth propels me forward through whichever unknowns I encounter with confidence.  There is no problem that I can't solve.  I can code it.
			</h5>
		</div>
		<!-- Declaration of Aptitude -->
		<div id="last">
			<h4 id="quest"> Don't see a technical skill listed? </h4>
			<h4> No sweat.  I'll learn it, and fast.  I've got you covered. </h4>
		</div>
	</div>
</section>



