/* DOCTYPE CSS */



body {
	text-align: center;
    width: 100%;
}

#nav {
	position: absolute;
    display: inline;
    background-color: #ef6ea1;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 25pt;
    border-bottom-right-radius: 25pt;
    height: 50pt;
    width: 350pt;
    margin: -50pt 0pt 0pt -175pt;
}

h5 {
	position: relative;
	text-align: center;
	margin: 2.5pt 0pt 0pt;
}

#sects {
	position: relative;
	text-align: center;
	color: #d84f7a;
}

a {
	color: #ffa0d3;
}

/* a:visited {
	color: #A00023;
} */

.page {
	font-family: Iceland;
	margin: 0pt 7.5pt;
}



