



<section>
	<div id="bar">
		<h4> PAGE </h4>
		<!-- Placeholder routes until interpage navigation is implemented. -->
		<nav>
			<h5>
				<a [routerLink]="['']"><span class="warp"> MID(3) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="warp"> BOT(5) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="warp"> TOP(1) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="warp"> UP(2) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="warp"> LOW(4) </span></a>
			</h5>
		</nav>
	</div>
</section>



