



<body>
	<div id="nav">
		<div id="sect">
				<h4> SECTION </h4>
		</div>
		<div id="port">
			<!-- Placeholder routes until interpage navigation is implemented. -->
			<h5>
				<a [routerLink]="['']"><span class="view"> MID(3) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="view"> BOT(5) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="view"> TOP(1) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="view"> UP(2) </span></a>
				<span class="iter"> | </span>
				<a [routerLink]="['']"><span class="view"> LOW(4) </span></a>
			</h5>
		</div>
	</div>
</body>


