/* DOCTYPE CSS */



body {
	background-color: transparent;
	text-align: center;
	margin: -4rem 0rem 0rem;
}

#nav {
	position: relative;
	display: inline-block;
    z-index: 10;
    background-color: #ef6ea1;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 2.25rem;
    border-bottom-right-radius: 2.25rem;
    height: 4rem;
    width: 30rem;
}

h5 {
	position: relative;
	text-align: center;
	margin: 0.4rem 0rem 0rem;
}

#sects {
	position: relative;
	text-align: center;
	color: #d84f7a;
	margin: 0.05rem 0rem 0rem;
}

a {
	color: #ffa0d3;
}

/* a:visited {
	color: #A00023;
} */

.page {
	font-family: Iceland;
	margin: 0rem 0.75rem;
}



