



<body class="sect">
	<div class="core">
		<h1> I Am Ian </h1>
		<!-- Placeholder website/developer motto -->
		<h2> "A future for all with technology" </h2>
		<div id="vision">
			<div class="trait">
				<h3> Ambitious </h3>
				<hr class="under">
			</div>
			<div class="trait">
				<h3> Passionate </h3>
				<hr class="under">
			</div>
			<div class="trait">
				<h3> Visionary </h3>
				<hr class="under">
			</div>
		</div>
		<!-- Introduction of the developer -->
		<div id="intro">
			<h6>
				Originally from Wisconsin, my pursuit of a career in software engineering lead me to the burgeoing tech-hub of Seattle.  What started as an interest in technology quickly tranformed into full-blown passion and adoration.  The boundless breadth of technology set my very core ablaze, inspiring visions of its limitless potential to transform society in so many incredible ways.  Since then I have continued to relentlessly hone my coding craft with special interest towards backend systems, big data, machine learning, and much more.
			</h6>
			<h6>
				Not only will I bring passion and energy to software, but I will carry with me my dream to revolutionize technology now and into the future by connecting and empowering all of us like never before.  I am not just a software developer for today, but a tech pioneer of tomorrow.
			</h6>
		</div>
		<hr>
		<!-- Methodology of the developer -->
		<div class="column">
			<h5> Purpose-Driven Engineering </h5>
			<p>
				I don't just type code - I design systems.  My naturally analytical mind and scientific intuition enable me to instinctively comprehend how each block of code fits into each software application at every level.
			</p>
			<p>
				My laser focus is on building complete, efficient, and user-friendly computational ecosystems.  I leave no feature untested, ensuring that only thorough, precise, and hack-safe code makes it to production.  Code must be written mindfully, both for users and developers, and I pride myself on delivering exactly that every time.
			</p>
			<p>
				I expect nothing less than the absolute best from myself because to me, it's not just a job, but my mission.
			</p>
		</div>
		<!-- Philosophy of the developer -->
		<div class="column">
			<h5> Technology For Everyone </h5>
			<p>
				Software development is far more than just a hobby.  It is a love of and a dream towards an inexplicably empowering of our species, boldly pursuing horizons far beyond our imagining.
			</p>
			<p>
				It's power is exciting and tremendous, but also one of many perils and threats.  It is not enough to simply push the limits of technology to new and amazing heights, but to expand its scope, access, and power to all, most especially the most voiceless.
			</p>
			<p>
				We cannot afford a future that leaves any of us behind.  Technology MUST be for everyone.  As a software developer, I am passionate towards engineering a future that empowers and includes all of us.
			</p>
		</div>
		<!-- Interests of the developer - for fun! -->
		<!-- INCOMPLETE -->
		<div class="column">
			<h5> Not A Robot, I Swear! </h5>
			<p>
				Contrary to popular opinion, I am, in fact, a human <span class="fizz">-bzzt-</span> being.
			</p>
			<p>
				I like such things as football. Of course, I mean the American variety!  Go Pack go!  (Am I doing it right?)  Yes, I do in fact enjoy the Seahawks as well!  I am the 12th man!  <span class="fizz">-bzzt-</span>  I also am a purveyor...
			</p>
			<p>
				Naturally <span class="fizz">-bzzt-</span> I am a born <span class="fizz">-bzzt-</span> and bred technophile, and I ask that you not be prejudiced against who I am.  After all, I was born <span class="fizz">-bzzt-</span> this way!  I don't take kindly to bigots and technophobes.  Love is love, even <span class="slash">as</span> <span class="fizz">-bzzt-</span> with robots!
			</p>
		</div>
	</div>
</body>


