



<section>
	<nav class="auth" *ngIf="!online">
		<a class="user" (click)="swapStatus( )" [routerLink]="[ 'login' ]"> LOGIN </a>
		<h6> | </h6>
		<a class="user" (click)="swapStatus( )" [routerLink]="[ 'join' ]"> REGISTER </a>
	</nav>
	<nav class="auth" *ngIf="online">
		<a class="user" [routerLink]="[ 'profile' ]">
			<img src="" alt="">
			PROFILE
		</a>
		<h6> | </h6>
		<h6 class="user"> SCORE </h6>
		<h6> | </h6>
		<h6 class="user"> MEDIA </h6>
		<h6> | </h6>
		<h6 class="user" (click)="swapStatus( )"> LOGOUT </h6>
	</nav>
	<!-- <a [routerLink]="[ '' ]"><h2 id="ian"> IAN </h2></a> -->
	<!-- <h4> | </h4> -->
	<!-- <a [routerLink]="[ 'hack' ]"><button><h3 class="seg"> HACK </h3></button></a> -->
	<!-- <a [routerLink]="[ 'work' ]"><button><h3 class="seg"> WORK </h3></button></a> -->
	<!-- 
	<nav>
		<a [routerLink]="[ 'tech' ]"><button><h3 class="seg"> TECH </h3></button></a>
		<a [routerLink]="[ '' ]"><button><h3 class="seg"> IAN </h3></button></a>
		<a [routerLink]="[ 'blog' ]"><button><h3 class="seg"> BLOG </h3></button></a>
		<a><button><h3 class="seg"> MAIL </h3></button></a>
	</nav>
	-->
	<nav id="route">
		<div class="left">
			<button [routerLink]="[ 'resume' ]"> RESUME </button>
			<button [routerLink]="[ 'tech' ]"> TECH </button>
		</div>
		<button id="ian" [routerLink]="[ '' ]"> IAN </button>
		<div class="right">
			<button [routerLink]="[ 'blog' ]"> BLOG </button>
			<button [routerLink]="[ 'mail' ]"> CONTACT </button>
		</div>
	</nav>
</section>



