



<section>
	<h1 class="main"> Blog Topics </h1>
	<subject *ngIf="view" [subject]="subject" (delete)="changeState( $event )" [@viewSeries]="open"></subject>
	<nav id="upper">
		<h2 (click)="selectSubject( 'Industry' )"> INDUSTRY </h2>
		<h2 class="iter"> | </h2>
		<h2 (click)="selectSubject( 'Coding' )"> CODING </h2>
		<h2 class="iter"> | </h2>
		<h2 (click)="selectSubject( 'Events' )"> EVENTS </h2>
		<h2 class="iter"> | </h2>
		<h2 (click)="selectSubject( 'Startup' )"> STARTUP </h2>
	</nav>
	<nav id="lower">
		<h2 (click)="selectSubject( 'Hiring' )"> HIRING </h2>
		<h2 class="iter"> | </h2>
		<h2 (click)="selectSubject( 'Production' )"> PRODUCTION </h2>
		<h2 class="iter"> | </h2>
		<h2 (click)="selectSubject( 'Future' )"> FUTURE </h2>
	</nav>
</section>



