



section {
	position: fixed;
    display: inline-block;
    z-index: 40;
    text-align: center;
    background-color: #f02a2a;
    top: 10%;
    height: 40em;
    width: 60vw;
    min-width: 20em;
    margin: 0 20% 0;
}

h2 {
	margin: 0.5em 0 0;
}

button {
    display: inline-block;
    font-weight: bolder;
    background-color: red;
    border: 0 solid transparent;
    color: black;
    height: 3em;
    width: 9em;
    margin: 25em 0 0;
}


