/* DOCTYPE CSS */



body {
	background-color: black;
    height: 550pt;
	width: 100%;
	padding: 10pt 0pt;
}

#x {
	font-size: 175%;
}

h1 {
	text-align: center;
	font-size: 8em;
	text-decoration-style: none;
	font-weight: normal;
	color: #e02a38;
	margin: 0pt 0pt 0pt 0pt;
}

.caps {
	font-size: 150%;
}

h2 {
	text-align: center;
	text-decoration-style: none;
	font-size: 3em;
	font-weight: normal;
	font-variant-caps: small-caps;
	color: #50a7e8;
	margin: -40pt 0pt 0pt 0pt;
}

a {
	position: relative;
	display: block;
	text-decoration: none;
	top: 35%;
}



