



<section>
	<div id="pop">
		<nav>
			<h4> PAGE </h4>
			<!-- Placeholder routes until interpage navigation is implemented -->
			<ul>
				<li><a [routerLink]="['']"><h5> MID(3) </h5></a></li>
				<li><h6> | </h6></li>
				<li><a [routerLink]="['']"><h5> BOT(5) </h5></a></li>
				<li><h6> | </h6></li>
				<li><a [routerLink]="['']"><h5> TOP(1) </h5></a></li>
				<li><h6> | </h6></li>
				<li><a [routerLink]="['']"><h5> UP(2) </h5></a></li>
				<li><h6> | </h6></li>
				<li><a [routerLink]="['']"><h5> LOW(4) </h5></a></li>
			</ul>
		</nav>
	</div>
</section>


