



<section class="base">
	<div class="core">
		<h1 class="main"> Stuff I've Made </h1>
		<h4>
			Take a look through my portfolio!  Here I detail what I have developed or contributed including documentation of the process from start to finish.  Alongside that I share key insights gleaned from my experience working on these projects.
		</h4>
		<hr>
		<h2> Portfolio </h2>
		<div class="view">
			<div class="scroll">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
			</div>
			<br>
			<div class="scroll">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
			</div>
			<br>
			<div class="scroll">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
				<img src="" alt="Software">
			</div>
		</div>
	</div>
</section>


