/* DOCTYPE CSS */



body {
	background-color: black;
    height: 45em;
	width: 100%;
}

a {
	position: relative;
	display: block;
	text-decoration: none;
	text-align: center;
	font-variant: small-caps;
	height: 92%;
}

h1 {
	font-family: Iceland;
	font-size: 16em;
	font-weight: normal;
	color: #e02a38;
	margin: 0em 0em 0.5em 0em;
}

#x {
	display: inline-block;
	font-size: 175%;
	transform: translate(0em, 0.225em);
}

h2 {
	font-family: Orbitron;
	font-size: 3.5em;
	font-weight: bold;
	color: #50a7e8;
	margin: -3.7em 0em 0em 3.91em;
    transform: scale(0.995, 1.25);
}

#sub {
	position: relative;
	display: block;
	font-family: Iceland;
	text-align: center;
	top: 16%;
}

h3 {
	font-size: 4em;
	color: #60cc60;
}

.iter {
	display: inline-block;
	transform: matrix(1.25, 0, 0, 1.25, 0, 12.5);
	margin: 0em 1em;
}



