



body {
	background-color: rgba( 0, 0, 0, 0.9 );
	width: 100%;
	height: 50em;
}

#over {
	position: absolute;
	z-index: 5;
    background-color: rgba( 0, 0, 0, 0.9 );
	height: inherit;
	width: inherit;
}

a {
	position: relative;
	display: block;
	z-index: 10;
	text-decoration: none;
	text-align: center;
	font-variant: small-caps;
	height: 93%;
}

h1 {
	font-family: Iceland;
	font-size: 16em;
	font-weight: normal;
	box-sizing: content-box;
	color: #e02a38;
	padding: 0.15em 0 0.5em;
}

#x {
	display: inline-block;
	font-size: 175%;
	transform: translate( 0, 0.225em );
}

h2 {
	font-family: Orbitron;
	font-size: 3.5em;
	font-weight: bold;
	color: #50a7e8;
	margin: -3.7em 0 0 3.91em;
    transform: scale( 0.9925, 1.25 );
}

#sub {
	position: relative;
	display: block;
	font-family: Iceland;
	text-align: center;
	top: 16%;
	margin: 1em 0 0 0;
}

h3 {
	font-size: 4.75em;
	color: #60cc60;
}

.iter {
	display: inline-block;
	transform: matrix( 1.25, 0, 0, 1.25, 0, 16.5 );
	margin: 0 1em;
}


/* Responsive breakpoint settings */
@media ( max-width: 1440px ) {
	body { height: 45em; }
	a { height: 91%; }
	h1 { font-size: 12.5em; }
	h2 {
		font-size: 2.725em;
		transform: scale( 0.98, 1.25 );
		margin: -3.7em 0 0 3.9em;
	}
	h3 { font-size: 3.75em; }
	.iter { transform: matrix( 1.25, 0, 0, 1.25, 0, 12.5 ); }
}

@media ( max-width: 1024px ) {
	body { height: 35em; }
	a { height: 89%; }
	h1 { font-size: 10em; }
	h2 {
		font-size: 2.25em;
		transform: scale( 0.9675, 1.15 );
		margin: -3.6em 0 0 3.775em;
	}
	h3 { font-size: 3em; }
	.iter { transform: matrix( 1.25, 0, 0, 1.25, 0, 10.5 ); }
}

@media ( max-width: 768px ) {
	body { height: 27.5em; }
	a { height: 85%; }
	h1 { font-size: 7.5em; }
	h2 {
		font-size: 1.675em;
		transform: scale( 0.96, 1.15 );
		margin: -3.6em 0 0 3.75em;
	}
	h3 { font-size: 2.25em; }
	.iter { transform: matrix( 1.25, 0, 0, 1.25, 0, 8 ); }
}

@media ( max-width: 580px ) {
	body { height: 21em; }
	a { height: 80%; }
	h1 { font-size: 5em; }
	h2 {
		font-size: 1.115em;
		transform: scale( 0.9999, 1.15 );
		margin: -3.6em 0 0 3.75em;
	}
	h3 { font-size: 1.5em; }
	.iter { transform: matrix( 1.25, 0, 0, 1.25, 0, 5 ); }
}

@media ( max-width: 425px ) {
	body { height: 17em; }
	a { height: 77%; }
	h1 { font-size: 3.75em; }
	h2 {
		font-size: 0.85em;
		transform: scale( 0.925, 1.15 );
		margin: -3.5em 0 0 3.725em;
	}
	h3 { font-size: 1.125em; }
	.iter { transform: matrix( 1.25, 0, 0, 1.25, 0, 3.5 ); }
}

@media ( max-width: 320px ) {
	body { height: 13.9em; }
	a { height: 72%; }
	h1 { font-size: 3em; }
	h2 {
		font-size: 0.67em;
		transform: scale( 0.935, 1.15 );
		margin: -3.5em 0 0 3.85em;
	}
	h3 { font-size: 0.9em; }
	.iter { transform: matrix( 1.25, 0, 0, 1.25, 0, 3 ); }
}


