/* DOCTYPE CSS */



body {
	background-color: #501275;
	height: 80pt;
	width: 100%;
}

#nav {
	position: relative;
	text-align: center;
	color: #9069ff;
    top: 50%;
}

a {
	color: #caa6e8;
}

/* a:visited {
	color: #A03BE7;
} */

.page {
	margin: 0pt 40pt;
}



