/* DOCTYPE CSS */



body {
	background-color: #0c0715;
	height: 8rem;
	width: 100%;
}

#nav {
	position: relative;
	text-align: center;
	color: #9069ff;
    top: 12%;
}

a {
	color: #caa6e8;
}

/* a:visited {
	color: #A03BE7;
} */

.page {
	margin: 0pt 4rem;
}



