



<body>
	<div class="auth">
		<img id="avatar" src="" alt="">
		<h6 class="user"> PROFILE </h6>
		<h6> | </h6>
		<h6 class="user"> SCORE </h6>
		<h6> | </h6>
		<h6 class="user"> MEDIA </h6>
		<h6> | </h6>
		<h6 class="user"> LOGOUT </h6>
	</div>
	<div id="nav">
		<a [routerLink]="['hack']"><h3 class="page"> HACK </h3></a>
		<h4> | </h4>
		<a [routerLink]="['tech']"><h3 class="page"> TECH </h3></a>
		<h4> | </h4>
		<a [routerLink]="['']"><h3 class="page"> IAN </h3></a>
		<h4> | </h4>
		<a [routerLink]="['blog']"><h3 class="page"> BLOG </h3></a>
		<h4> | </h4>
		<a [routerLink]="['']"><h3 class="page"> MAIL </h3></a>
	</div>
</body>


