



<body>
	<div class="custom">
		<img id="avatar" src="" alt="">

		<h6 class="user"> PROFILE </h6>
		<h6> | </h6>
		<h6 class="user"> SCORE </h6>
		<h6> | </h6>
		<h6 class="user"> MEDIA </h6>
		<h6> | </h6>
		<h6 class="user"> LOGOUT </h6>
	</div>
	<div id="nav">
		<h3 class="page"> HACK </h3>
		<h3> | </h3>
		<h3 class="page"> TECH </h3>
		<h3> | </h3>
		<h3 class="page"> IAN </h3>
		<h3> | </h3>
		<h3 class="page"> BLOG </h3>
		<h3> | </h3>
		<h3 class="page"> MAIL </h3>
	</div>
</body>


