



<body>
	<div class="custom">
		<img id="avatar" src="" alt="">

		<h6 class="user"> PROFILE </h6>
		<h6> | </h6>
		<h6 class="user"> SCORE </h6>
		<h6> | </h6>
		<h6 class="user"> MEDIA </h6>
		<h6> | </h6>
		<h6 class="user"> LOGOUT </h6>
	</div>
	<div id="nav">
		<a [routerLink]="['hack']"><h4 class="page"> HACK </h4></a>
		<h4> | </h4>
		<a [routerLink]="['tech']"><h4 class="page"> TECH </h4></a>
		<h4> | </h4>
		<a [routerLink]="['']"><h4 class="page"> IAN </h4></a>
		<h4> | </h4>
		<a [routerLink]="['blog']"><h4 class="page"> BLOG </h4></a>
		<h4> | </h4>
		<a [routerLink]="['']"><h4 class="page"> MAIL </h4></a>
	</div>
</body>



