



section {
	position: absolute;
	background-color: #b70b2b;
	z-index: 25;
	border-radius: 1em;
	height: 12em;
	width: 75%;
	left: 0;
	right: 0;
	margin: -2em auto 0;
}

h2 {
    margin: 0.25em 0 0;
}


