



#shade {
	z-index: 20;
	background-color: transparent;
}

section {
	position: absolute;
	background-color: #b70b2b;
	z-index: 25;
	border-radius: 1em;
	height: 12em;
	width: 75%;
	left: 0;
	right: 0;
	margin: 1em auto 0;
}

h3 {
    margin: 0.5em 0 0;
}

button {
    position: absolute;
    display: block;
    font-weight: bolder;
    background-color: #9e0b26;
	border: 0 solid transparent;
	border-radius: 1em;
    height: 2.5em;
    width: 10em;
    left: 0;
    right: 0;
    bottom: 7.5%;
    margin: auto;
}


