



<body class="sect">
	<div class="core">
		<h1 class="lead"> What I Do </h1>
		<br>
		<h4> Bringing technical wealth to all platforms. </h4>
		<br>
		<br>
		<h2> Languages </h2>
		<div class="set">
			<h4 class="lang"> Python </h4>
			<h4 class="lang"> C# </h4>
			<h4 class="lang"> Java </h4>
			<h4 class="lang"> HTML </h4>
			<h4 class="lang"> CSS </h4>
			<h4 class="lang"> JavaScript </h4>
		</div>
		<h2> Frameworks </h2>
		<div class="set">
			<h4 class="frame"> Angular </h4>
			<h4 class="frame"> .NET Core </h4>
			<h4 class="frame"> Django </h4>
			<h4 class="frame"> Flask </h4>
			<h4 class="frame"> Spring </h4>
		</div>
		<h2> Databases </h2>
		<div class="set">
			<h4 class="data"> SQLite </h4>
			<h4 class="data"> MySQL </h4>
			<h4 class="data"> MongoDB </h4>
			<h4 class="data"> PostgreSQL </h4>
		</div>
		<div class="set">
			<h3 class="trait"> Intuitive </h3>
			<h3 class="trait"> Adaptive </h3>
			<h3 class="trait"> Resolver </h3>
			<h3 class="trait"> Execution </h3>
		</div>
		<h6> Summary of skillset... </h6>
	</div>
</body>



