/* DOCTYPE CSS */



body {
	text-align: center;
	background-color: #ff302f;
	width: 100%;
}

h2 {
	padding: 0.75em 0 0;
}

.set {
	margin: -1em 0 2em;
}

.lang {
	margin: 2.5em 6% 0;
}

.frame {
	margin: 2.5em 5% 0;
}

.data {
	margin: 2.5em 5% 0;
}

.trait {
	display: inline-block;
	text-align: center;
	letter-spacing: 0.125em;
	/* font-variant: small-caps; */
	margin: 2.5em 4.5% 0.5em;
}


