



<body class="sect">
	<div class="core">
		<h1 class="lead"> How I Code </h1>
		<!-- <h1 class="lead"> My Methodology </h1> -->
		<h4 class="intro"> Follow my development process step-by-step and see into the inner workings of my mind. </h4>
		<!-- Step 1 -->
		<div class="left">
			<h2> 1 - Conceptualize </h2>
			<div class="blob">
				<h6>
					Every solution starts with an idea.  Understanding the features and how they could interact with eachother is the first step.  Knowing the problem and the ways in which it can be resolved is my specialty.  I'm a big picture thinker first, but knowing the parts needed to build it is what's most important.
				</h6>
			</div>
		</div>
		<!-- Step 2 -->
		<div class="right">
			<h2> 2 - Scaffold </h2>
			<div class="blob">
				<h6>
					Next I carefully plan out how to proceed.  Whether it be wireframing, diagramming, or other forms of planning, I create a solid plan of attack.  That said, I always remain agile and pivot my plans when unforeseen circumstances arise.  I make sure every process is adequately accounted for, enabling me to write clean and effective code.
				</h6>
			</div>
		</div>
		<!-- Step 3 -->
		<div class="left">
			<h2> 3 - Build </h2>
			<div class="blob">
				<h6>
					Then I finally put the plan into action!  Each step of the way, I document the process succinctly yet thoroughly through comments in my code as I build out the basic building blocks of the software - classes, methods, variables, you name it.  I tackle each feature one by one, giving full attention to its proper design and execution.
				</h6>
			</div>
		</div>
		<!-- Step 4 -->
		<div class="right">
			<h2> 4 - Test </h2>
			<div class="blob">
				<h6>
					It's important that I test my code every step of the way.  This allows me to reduce the time spent debugging and devote extra care and attention to each step of the algorithm.  After each successful testing phase, I pivot back and build the next feature, verifying that each piece stands atop its previous, foundational features.  Thorough code architecture is how I do things.
				</h6>
			</div>
		</div>
		<!-- Step 5 -->
		<div class="left">
			<h2> 5 - Launch </h2>
			<div class="blob">
				<h6>
					When the entire program is properly tested for stability, reliability, and accuracy, it's time to deploy!  I make sure everything is where it needs to be and that the design parameters have been met.  Once that's complete, I bring it all online.  There's nothing more exciting than to see the code I've written in action!
				</h6>
			</div>
		</div>
	</div>
</body>



