



section {
	position: fixed;
    display: inline-block;
    z-index: 50;
    text-align: center;
    background-color: #da0b0b;
    top: 15%;
    height: 40em;
    width: 60vw;
    min-width: 20em;
	margin: 0 20% 0;
}

h2 {
	margin: 0.5em 0 0;
}

button {
    position: absolute;
    display: block;
    font-weight: bolder;
    background-color: #ff1d1d;
    border: 0 solid transparent;
    color: black;
    height: 3em;
    width: 9em;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: auto;
}


