/* DOCTYPE CSS */



body {
	background-color: black;
	color: #ea3f6d;
	height: 15rem;
	width: 100%;
}

.social {
	position: relative;
	text-align: center;
	top: 15%;
}

.media {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8rem;
	font-weight: bold;
	line-height: 4rem;
	background-color: #1d0209;
	border-radius: 15%;
	height: 4rem;
	width: 4.5rem;
}

#owner {
	position: relative;
	text-align: center;
    top: 40%;
}

h5 {
	margin: 0rem 0.5rem;
}

a {
	color: #ea3f6d;
	width: 100%;
	margin: 0rem 1rem;
}


