



html {
	background-color: black;
}

body {
	font-family: Exo, Ubuntu, Verdana, Arial, sans-serif;
	background-color: transparent;
	color: white;
	margin: 0 0 0;
}

#film {
	position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

video {
	position: relative;
	z-index: 0;
	background-color: #70b4d3;
	width: 100%;
}

h1 {
	font-size: 4em;
	font-family: Krona One;
	font-weight: normal;
	margin: 0 0 0;
}

.main {
	position: relative;
	font-variant: small-caps;
	letter-spacing: 0.25em;
	padding: 0 0 0 0.275em;	
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 0;
}

h3 {
	display: inline-block;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0;
}

.base {
	position: relative;
	min-height: 50em; /* TEMPORARY */
}

.core {
	position: relative;
	display: inline-block;
	z-index: 10;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	border-top: 0 solid;
	border-left: 0.1em solid rgba( 0, 0, 0, 0.1 );
	border-right: 0.1em solid rgba( 0, 0, 0, 0.1 );
	border-bottom: 0 solid;
	border-radius: 1em;
	min-height: inherit;
	height: inherit;
	max-width: 100%;
	width: 67%;
	padding: 2em 0 3em;
	transition: transform 0.25s;
}

.core:hover {
	z-index: 15;
	overflow: scroll;
	background: inherit;
	box-shadow: 0.5em 1em 1em 0 rgba( 0, 0, 0, 0.5 );
	transform: scale( 1.05, 1.05 );
}

h4 {
	display: inline-block;
	font-size: 1.25em;
	font-weight: normal;
	margin: 0 0 0;
}

	/* Dual settings across authentication and user options */
	.auth {
		position: relative;
		z-index: 10;
		text-align: right;
		color: #e08fff;
		padding: 1em 2% 1em 0;
	}

	#avatar {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		font-size: 1em;
		background-color: #090413;
		border-radius: 0.5em;
		height: 1.75em;
		width: 2em;
		margin: -0.25em -0.2em;
	}

	.user {
		margin: 0 1%;
	}
	/*  */

h5 {
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 0;
}

h6 {
	display: inline-block;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 0 0;
}

p {
	display: inline-block;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0 0 0;
}



