/* DOCTYPE CSS */



body {
	font-family: Exo, Ubuntu, Verdana, Arial, sans-serif;
	background-color: black;
	color: white;
	margin: 0rem 0rem 0rem;
}

h1 {
	font-size: 5rem;
	font-family: Krona One;
	font-weight: normal;
	margin: 0rem 0rem 0rem;
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
	margin: 0rem 0rem 0rem;
}

h3 {
	display: inline-block;
	font-size: 2rem;
	font-weight: normal;
	margin: 0rem 0rem 0rem;
}

.stuff {
	position: relative;
	text-align: center;
	border-top: 0rem solid;
	border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-bottom: 0rem solid;
	border-radius: 1rem;
	min-height: inherit;
	height: inherit;
	margin: 0rem 15rem;
	transition: transform 0.15s;
}

.stuff:hover {
	background: inherit;
	z-index: 5;
	box-shadow: 0.5rem 1rem 1rem 0rem rgba(0, 0, 0, 0.5);
	transform: scale(1.05, 1.05);
}

h4 {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0rem 0rem 0rem;
}

	/* Dual settings across authentication and user options */
	.custom {
		position: absolute;
		text-align: right;
		color: #e08fff;
		right: 2%;
		padding: 1.25rem 0rem 0rem;
	}

	#avatar {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		font-size: 1rem;
		background-color: #301544;
		border-radius: 0.5rem;
		height: 1.75rem;
		width: 2rem;
		margin: -0.25rem -0.2rem;
	}

	.user {
		margin: 0rem 1rem;
	}
	/*  */

h5 {
	display: inline-block;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 0rem 0rem 0rem;
}

h6 {
	display: inline-block;
	font-size: 1rem;
	font-weight: normal;
	margin: 0rem 0rem 0rem;
}

p {
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1.25rem;
	margin: 0rem 0rem 0rem;
}


