



#modal {
	animation: fall 1000ms cubic-bezier( 0, 0, 0.05, 1 ) 250ms both;
}

#modal2 {
	animation: fall 750ms cubic-bezier( 0, 0, 0.05, 1 ) 250ms both reverse;
}

@keyframes finish {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fall {
	from { transform: translate( 0, -150% ); }
	to { transform: translate( 0, 0 ); }
}


